$base-dark-color: #447373;
$base-light-color: #dedede;

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $base-dark-color;
}

.title {
    text-align: center;
    margin: 25px 0;

    h1 {
        color: teal;

        @media screen and (max-width: 992px) {
            font-size: 1.8rem;
        }
    }
}

.new-employee-search-field-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .new-employee-btn button {
        cursor: pointer;
    }

    .search-field {
        position: relative;
        text-align: right;

        input {
            background-color: #f1f3f5;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            border-radius: 9999px;
            border-color: #f1f3f5;
            border-width: 0.125rem;
            border-style: solid;
            outline: none;
            height: 34px;
        }

        .fa-search {
            position: absolute;
            opacity: 0.6;
            right: 1rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    @media screen and (max-width: 450px) {
        grid-template-columns: 1fr;

        .new-employee-btn button {
            width: 100%;
        }

        .search-field {
            text-align: left;
            margin-top: 15px;

            input {
                width: 100%;
            }

            .fa-search {
                right: 15px;
            }
        }
    }
}

.new-employee {
    background-color: $base-light-color;
    padding: 15px;
    border-radius: 6px;

    .share {
        padding-top: 10px;
        padding-left: 35px;
    }
}

.data-table {
    margin-top: 15px;

    .thead {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "empName pos office age salary shares";
        background-color: $base-dark-color;
        padding: 10px;
        color: white;
        font-weight: bold;

        .name {
            grid-area: empName;
        }

        .position {
            grid-area: pos;
        }

        .office {
            grid-area: office;
        }

        .age {
            grid-area: age;
        }

        .salary {
            grid-area: salary;
        }

        .shares {
            grid-area: shares;
        }

        .fa-sort-down,
        .fa-sort-up {
            cursor: pointer;
            margin-left: 5px;
        }

        @media screen and (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);

            .position,
            .office,
            .age,
            .salary {
                display: none;
            }

            .shares {
                text-align: right;
            }
        }
    }

    .tbody {
        border: 1px solid $base-dark-color;

        .tbody-row {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: "empName pos office age salary shares";
            background-color: $base-light-color;
            padding: 10px 0 10px 15px;

            .name {
                grid-area: empName;
            }

            .position {
                grid-area: pos;
            }

            .office {
                grid-area: office;
            }

            .age {
                grid-area: age;
            }

            .salary {
                grid-area: salary;
            }

            .shares {
                grid-area: shares;
            }

            .position,
            .office,
            .age,
            .salary {
                span:first-child {
                    display: none;
                }
            }

            @media screen and (max-width: 992px) {
                grid-template-columns: 3fr 1fr;
                grid-template-areas: "empName shares" "pos shares" "office shares" "age shares" "salary shares";

                .name {
                    font-weight: bold;
                    text-decoration: underline;
                }

                .shares {
                    text-align: right;
                    margin-right: 30px;
                }

                .position,
                .office,
                .age,
                .salary {
                    span:first-child {
                        display: inline-block;
                        font-weight: bold;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.pagination {
    list-style-type: none !important;
    overflow: hidden;
    margin: 0;
    margin-top: 2rem;
    display: inline-block;

    .page-item {
        float: left;
    }

    .page-item button {
        margin: 0 5px;

        &:hover {
            font-weight: bold;
        }
    }

    .active-page {
        font-weight: bold !important;
        background-color: $base-dark-color;
        border-color: $base-dark-color;
        color: white;
    }

    .fa-arrow-left,
    .fa-arrow-right {
        color: $base-dark-color;
    }
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-outline-info {
    color: $base-dark-color;
    border-color: $base-dark-color;

    &:hover,
    &:active {
        color: #fff;
        background-color: $base-dark-color !important;
        border-color: $base-dark-color !important;
    }
}

.btn-info {
    border-color: $base-dark-color;
    background-color: $base-dark-color;

    &:disabled {
        background-color: $base-dark-color;
        border-color: $base-dark-color;
    }
}
