body {
  font-family: Arial, Helvetica, sans-serif;
  color: #447373;
}

.title {
  text-align: center;
  margin: 25px 0;
}

.title h1 {
  color: teal;
}

@media screen and (max-width: 992px) {
  .title h1 {
    font-size: 1.8rem;
  }
}

.new-employee-search-field-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.new-employee-search-field-section .new-employee-btn button {
  cursor: pointer;
}

.new-employee-search-field-section .search-field {
  position: relative;
  text-align: right;
}

.new-employee-search-field-section .search-field input {
  background-color: #f1f3f5;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 9999px;
  border-color: #f1f3f5;
  border-width: 0.125rem;
  border-style: solid;
  outline: none;
  height: 34px;
}

.new-employee-search-field-section .search-field .fa-search {
  position: absolute;
  opacity: 0.6;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 450px) {
  .new-employee-search-field-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .new-employee-search-field-section .new-employee-btn button {
    width: 100%;
  }
  .new-employee-search-field-section .search-field {
    text-align: left;
    margin-top: 15px;
  }
  .new-employee-search-field-section .search-field input {
    width: 100%;
  }
  .new-employee-search-field-section .search-field .fa-search {
    right: 15px;
  }
}

.new-employee {
  background-color: #dedede;
  padding: 15px;
  border-radius: 6px;
}

.new-employee .share {
  padding-top: 10px;
  padding-left: 35px;
}

.data-table {
  margin-top: 15px;
}

.data-table .thead {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "empName pos office age salary shares";
  background-color: #447373;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.data-table .thead .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: empName;
}

.data-table .thead .position {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pos;
}

.data-table .thead .office {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: office;
}

.data-table .thead .age {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: age;
}

.data-table .thead .salary {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: salary;
}

.data-table .thead .shares {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: shares;
}

.data-table .thead .fa-sort-down,
.data-table .thead .fa-sort-up {
  cursor: pointer;
  margin-left: 5px;
}

@media screen and (max-width: 992px) {
  .data-table .thead {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .data-table .thead .position,
  .data-table .thead .office,
  .data-table .thead .age,
  .data-table .thead .salary {
    display: none;
  }
  .data-table .thead .shares {
    text-align: right;
  }
}

.data-table .tbody {
  border: 1px solid #447373;
}

.data-table .tbody .tbody-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "empName pos office age salary shares";
  background-color: #dedede;
  padding: 10px 0 10px 15px;
}

.data-table .tbody .tbody-row .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: empName;
}

.data-table .tbody .tbody-row .position {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pos;
}

.data-table .tbody .tbody-row .office {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: office;
}

.data-table .tbody .tbody-row .age {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: age;
}

.data-table .tbody .tbody-row .salary {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: salary;
}

.data-table .tbody .tbody-row .shares {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: shares;
}

.data-table .tbody .tbody-row .position span:first-child,
.data-table .tbody .tbody-row .office span:first-child,
.data-table .tbody .tbody-row .age span:first-child,
.data-table .tbody .tbody-row .salary span:first-child {
  display: none;
}

@media screen and (max-width: 992px) {
  .data-table .tbody .tbody-row {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "empName shares" "pos shares" "office shares" "age shares" "salary shares";
  }
  .data-table .tbody .tbody-row .name {
    font-weight: bold;
    text-decoration: underline;
  }
  .data-table .tbody .tbody-row .shares {
    text-align: right;
    margin-right: 30px;
  }
  .data-table .tbody .tbody-row .position span:first-child,
  .data-table .tbody .tbody-row .office span:first-child,
  .data-table .tbody .tbody-row .age span:first-child,
  .data-table .tbody .tbody-row .salary span:first-child {
    display: inline-block;
    font-weight: bold;
  }
  .data-table .tbody .tbody-row .position span,
  .data-table .tbody .tbody-row .office span,
  .data-table .tbody .tbody-row .age span,
  .data-table .tbody .tbody-row .salary span {
    font-size: 14px;
  }
}

.pagination {
  list-style-type: none !important;
  overflow: hidden;
  margin: 0;
  margin-top: 2rem;
  display: inline-block;
}

.pagination .page-item {
  float: left;
}

.pagination .page-item button {
  margin: 0 5px;
}

.pagination .page-item button:hover {
  font-weight: bold;
}

.pagination .active-page {
  font-weight: bold !important;
  background-color: #447373;
  border-color: #447373;
  color: white;
}

.pagination .fa-arrow-left,
.pagination .fa-arrow-right {
  color: #447373;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-info {
  color: #447373;
  border-color: #447373;
}

.btn-outline-info:hover, .btn-outline-info:active {
  color: #fff;
  background-color: #447373 !important;
  border-color: #447373 !important;
}

.btn-info {
  border-color: #447373;
  background-color: #447373;
}

.btn-info:disabled {
  background-color: #447373;
  border-color: #447373;
}
/*# sourceMappingURL=style.css.map */